<footer class="footer">
    <div class="container-fluid">
        <div class="footer-middle">
            <div class="row">
                <div class="col-xl-5col2">
                    <div class="widget widget-about">
                        <a href="demo10.html" class="logo-footer">
                            <img src="./assets/images/demos/demo10/logo-footer.png" alt="logo-footer" class="mb-6"
                                width="150" height="43" />
                        </a>
                        <ul class="widget-body row">
                            <li class="col-sm-6">
                                <label>Address</label>
                                <a href="#">123 Street Name, City, England</a>
                            </li>
                            <li class="col-sm-6">
                                <label>Email</label>
                                <a href="mailto:mail@example.com">mail Riode.com</a>
                            </li>
                            <li class="col-sm-6">
                                <label>Phone</label>
                                <a href="#">Toll Free (123) 456-7890</a>
                            </li>
                            <li class="col-sm-6">
                                <label>WORKING DAYS/HOURS</label>
                                <a href="#">Mon - Sun / 9:00 AM - 8:00 PM</a>
                            </li>
                        </ul>

                        <div class="social-links mt-sm-0 mt-3">
                            <a href="#" title="social-link"
                                class="social-link social-facebook fab fa-facebook-f"></a>
                            <a href="#" title="social-link"
                                class="social-link social-twitter fab fa-twitter"></a>
                            <a href="#" title="social-link"
                                class="social-link social-linkedin fab fa-linkedin-in"></a>
                            <a href="#" title="social-link"
                                class="social-link social-pinterest fab fa-pinterest-p"></a>
                        </div>
                    </div>
                    <!-- End Widget -->
                </div>
                <div class="col-xl-5col col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">Current Pages</h4>
                        <ul class="widget-body">
                            <li>
                                <a routerLink="/">Home</a>
                            </li>
                            <li>
                                <a routerLink="/product">Product Page</a>
                            </li>
                            <li>
                                <a routerLink="/shop">Shop Page</a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">Wishlist</a>
                            </li>
                            <li>
                                <a routerLink="/cart">Cart</a>
                            </li>
                            <li>
                                <a routerLink="/checkout">Checkout</a>
                            </li>
                            <li>
                                <a routerLink="/order">Order</a>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="widget">
                        <h4 class="widget-title">About Us</h4>
                        <ul class="widget-body">
                            <li>
                                <a href="about-us.html">About Us</a>
                            </li>
                            <li>
                                <a href="#">Order History</a>
                            </li>
                            <li>
                                <a href="#">Returns</a>
                            </li>
                            <li>
                                <a href="#">Custom Service</a>
                            </li>
                            <li>
                                <a href="#">Terms &amp; Condition</a>
                            </li>
                        </ul>
                    </div> -->
                    <!-- <div class="widget">
                        <h4 class="widget-title">My Account</h4>
                        <ul class="widget-body">
                            <li>
                                <a href="#">Sign in</a>
                            </li>
                            <li>
                                <a href="cart.html">View Cart</a>
                            </li>
                            <li>
                                <a href="wishlist.html">My Wishlist</a>
                            </li>
                            <li>
                                <a href="#">Track My Order</a>
                            </li>
                            <li>
                                <a href="#">Help</a>
                            </li>
                        </ul>
                    </div> -->
                    <!-- End Widget -->
                </div>
                <div class="col-xl-5col col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">Current Pages</h4>
                        <ul class="widget-body">
                            <li>
                                <a routerLink="/my-account">My Account</a>
                            </li>
                            <li>
                                <a routerLink="/about-us">About Us</a>
                            </li>
                            <li>
                                <a routerLink="/contact-us">Contact Us</a>
                            </li>
                            <li>
                                <a routerLink="/error-page">Error Page</a>
                            </li>
                            <li>
                                <a routerLink="/comparison">Comparison Page</a>
                            </li>
                            <li>
                                <a routerLink="/return-policies">Return Policies</a>
                            </li>
                            <li>
                                <a routerLink="/confidentiality-policies">Confidentialty Policies</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Widget -->
                </div>
                <div class="col-xl-5col">
                    <div class="widget mb-0 mb-lg-6">
                        <h4 class="widget-title mb-4">Popular Posts</h4>
                        <div class="widget-body">
                            <div class="post post-list-xs">
                                <div class="post-calendar">
                                    <span class="post-day">06</span>
                                    <span class="post-month">SEP</span>
                                </div>
                                <div class="post-details">
                                    <h4 class="post-title"><a href="post-single.html">Sit amet nisl suscipit
                                            adipiscin Susp potenti faucibus arnare suspendisse.</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="post post-list-xs">
                                <div class="post-calendar">
                                    <span class="post-day">06</span>
                                    <span class="post-month">SEP</span>
                                </div>
                                <div class="post-details">
                                    <h4 class="post-title"><a href="post-single.html">Sit amet nisl suscipit
                                            adipiscin Susp potenti faucibus arnare suspendisse.</a></h4>
                                </div>
                            </div>
                        </div>
                        <figure class="payment">
                            <img src="./assets/images/demos/demo10/payment.png" alt="payment" width="181" height="24" />
                        </figure>
                    </div>
                    <!-- End Widget -->
                </div>
            </div>
        </div>
        <!-- End FooterMiddle -->
        <div class="footer-bottom d-block text-center">
            <p class="copyright ls-normal font-weight-normal">Riode eCommerce &copy; 2021. All Rights Reserved
            </p>
        </div>
        <!-- End FooterBottom -->
    </div>
</footer>