<main class="main">
    <div class="page-header"
        style="background-image: url('./assets/images/demos/demo10/page-header.jpg'); background-color: #3C63A4;height: 20rem;">
        <!-- <h1 class="page-title mt-2 font-secondary">Riode Shop</h1>
        <ul class="breadcrumb">
            <li><a href="demo10.html">Home</a></li>
            <li class="delimiter"><i class="fas fa-angle-right mt-1"></i></li>
            <li>Riode Shop</li>
        </ul> -->
    </div>
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="demo1.html"><i class="d-icon-home"></i></a></li>
                <li>Confidentialty Policies</li>
            </ul>
        </div>
    </nav>
    <!-- <div class="page-header"
        style="background-image: url('./assets/images/shop/page-header-back.jpg'); background-color: #3C63A4;">
        <h3 class="page-subtitle">Elements</h3>
        <h1 class="page-title">Titles</h1>
        <ul class="breadcrumb">
            <li><a href="demo1.html"><i class="d-icon-home"></i></a></li>
            <li class="delimiter">/</li>
            <li><a href="element.html">Elements</a></li>
            <li class="delimiter">/</li>
            <li>Titles</li>
        </ul>
    </div> -->
    <!-- End PageHeader -->
    <div class="page-content">
        <section class="mt-10 pt-8">
            <div class="container">
                <h2 class="title title-center">Make All Headings With This</h2>
                <div class="title-desc-container">
                    <p>Riode Heading Element Provides you a bundle of style options so that you can make any
                        kind of headings. Please use our Heading Elements widely.</p>
                </div>
            </div>
            <!-- <figure>
                <img src="./assets/images/elements/titles/1.png" width="1903" height="732" alt="heading-woman" />
            </figure> -->
        </section>
        <div class="container">
            <section class="mt-10 pt-3">
                <h2 class="title title-center">Various Cross Styles</h2>
                <div class="title-desc-container">
                    <p>Heading Element provides you Cross Decoration type. In addition, multiple style options
                        are provided so you can customize your headings freely.</p>
                </div>

                <h2 class="title title-sm mt-8 title-line">Left With Cross</h2>
                <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.
                    Praesent id enim sit amet odio vulputate eleifend in in tortor. ellus massa, tristique sit
                    amet condim vel, facilisuisacilisis quis sapien. Praesent id enim sit amet odio vulputate
                    eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis
                    sapien. Praesent id enim ent id enism sita.sis quis sapi.</p>

                <h2 class="title title-sm mt-8 title-line title-right-line">Center With Cross</h2>
                <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.
                    Praesent id enim sit amet odio vulputate eleifend in in tortor. ellus massa, tristique sit
                    amet condim vel, facilisuisacilisis quis sapien. Praesent id enim sit amet odio vulputate
                    eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis
                    sapien. Praesent id enim ent id enism sita.sis quis sapi.</p>

                <h2 class="title title-sm mt-8 title-right-line">Right With Cross</h2>
                <p class="text-right">Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.
                    Praesent id enim sit amet odio vulputate eleifend in in tortor. ellus massa, tristique sit
                    amet condim vel, facilisuisacilisis quis sapien. Praesent id enim sit amet odio vulputate
                    eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis
                    sapien. Praesent id enim ent id enism sita.sis quis sapi.</p>

                <h2 class="title title-sm mt-8 title-center mb-1">Custom Cross</h2>
                <p class="title-custom-cross justify-content-center title-line title-right-line">Custom Cross
                    Subtitle Decoration</p>
                <p class="">Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.
                    Praesent id enim sit amet odio vulputate eleifend in in tortor. ellus massa, tristique sit
                    amet condim vel, facilisuisacilisis quis sapien. Praesent id enim sit amet odio vulputate
                    eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis
                    sapien. Praesent id enim ent id enism sita.sis quis sapi.</p>
            </section>
            <section class="mt-10 pt-8 pb-6">
                <h2 class="title title-center">Various Underline Styles</h2>
                <div class="title-desc-container">
                    <p>Heading Element provides you Underline Decoration type. In addition, multiple style
                        options are provided so you can customize your headings freely.</p>
                </div>

                <h2 class="title title-sm mt-8 title-line title-underline title-underline-simple"><span>Simple
                        Underline</span></h2>
                <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.
                    Praesent id enim sit amet odio vulputate eleifend in in tortor. ellus massa, tristique sit
                    amet condim vel, facilisuisacilisis quis sapien. Praesent id enim sit amet odio vulputate
                    eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis
                    sapien. Praesent id enim ent id enism sita.sis quis sapi.</p>

                <h2 class="title title-sm mt-8 title-line title-underline"><span>Active Underline</span></h2>
                <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.
                    Praesent id enim sit amet odio vulputate eleifend in in tortor. ellus massa, tristique sit
                    amet condim vel, facilisuisacilisis quis sapien. Praesent id enim sit amet odio vulputate
                    eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis
                    sapien. Praesent id enim ent id enism sita.sis quis sapi.</p>

                <h2 class="title title-sm mt-8 title-center title-custom-underline mb-8"><span>Custom
                        Underline</span></h2>
                <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.
                    Praesent id enim sit amet odio vulputate eleifend in in tortor. ellus massa, tristique sit
                    amet condim vel, facilisuisacilisis quis sapien. Praesent id enim sit amet odio vulputate
                    eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis
                    sapien. Praesent id enim ent id enism sita.sis quis sapi.</p>
            </section>
        </div>
    </div>

</main>
<!-- End Main -->