<header class="header header-transparent">
    <div class="header-top">
        <div class="container-fluid">
            <div class="header-left">
                <div class="social-links inline-links">
                    <a href="#" title="social-link" class="social-link social-twitter fab fa-twitter"></a>
                    <a href="#" title="social-link" class="social-link social-linkedin fab fa-linkedin-in"></a>
                    <a href="#" title="social-link" class="social-link social-facebook fab fa-facebook-f"></a>
                    <a href="#" title="social-link" class="social-link social-pinterest fab fa-pinterest-p"></a>
                </div>
                <p class="welcome-msg text-uppercase">Welcome to Riode message or remove it!</p>
            </div>
            <div class="header-right">
                <a class="call" href="tel:#">
                    Call us: 123-456-7890
                </a>
                <a href="faq.html" class="ml-4">Faq</a>
                <a href="#" class="ml-4">News letter</a>
                <!-- End Phone Call -->
                <a href="contact-us.html" class="contact mr-1 ml-4">Contact us</a>
                <span class="divider"></span>
                <div class="dropdown">
                    <a href="#currency" class="text-white">CAD</a>
                    <ul class="dropdown-box">
                        <li><a href="#USD">USD</a></li>
                        <li><a href="#CAD">CAD</a></li>
                    </ul>
                </div>
                <span class="divider"></span>
                <!-- End DropDown Menu -->
                <div class="dropdown language-dropdown">
                    <a href="#language" class="text-white">ENG</a>
                    <ul class="dropdown-box">
                        <li>
                            <a href="#EN">
                                ENG
                            </a>
                        </li>
                        <li>
                            <a href="#FR">
                                FRH
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End HeaderTop -->
    <app-navigation></app-navigation>
</header>